<div class="footer-start">
  <div class="footer-item">
    <span><a href="/privacy">Privacy</a></span>
  </div>
  <div class="footer-item">
    <span><a href="/terms">Terms and Conditions</a></span>
  </div>
  <div class="footer-item">
    <span>Follow on Instagram</span>
    <span
      ><a
        target="_blank"
        href="https://www.instagram.com/minacheonstudio/"
        >@MinaCheon</a
      ></span
    >
    <span
      ><a target="_blank" href="https://www.instagram.com/asiasociety/"
        >@AsiaSociety</a
      ></span
    >
  </div>
</div>
