<p>Hi <%= senderName %>!</p>
<p>Thanks for sharin a chocopie! Click on the below pie to see it on the map!</p>
<a href=<%= pieURL %>><img src=<%= imageURL %> height="25%" width="25%"></a>
<p>Sincerely,</p>
<p> Asia Society </p>