<p>Hi <%= senderName %>,</p>
<p>
  Thank you for participating in “Eat Choco-Pie Together” - 
  a special art initiative by Korean-American contemporary 
  artist Mina Cheon for the inaugural Asia Society Triennial 
  (October 27, 2020 - June 27, 2021), a festival of art, ideas and innovation. 
</p>
<p>
  We are thrilled you are able to help promote compassion 
  and humanity towards global peace, in addition help raise 
  funds for the Korean American Community Foundation COVID-19
  Action Fund, to help those affected by the Coronavirus.
</p>
<p>
  We invite you to join us at the opening on October 27, 2020,
  of the first edition of the Asia Society Triennial, titled
  We Do Not Dream Alone, at the Asia Society Museum in Manhattan,
  New York to experience a multi-venue exhibition, 
  interdisciplinary panels, forums, and performances.
</p>
<p>
  <a href="https://asiasociety.org/triennial">LEARN MORE ABOUT ASIA SOCIETY TRIENNIAL</a>
</p>
<p>
  <a href=<%= pieURL %>>VIEW YOUR SHARED CHOCOPIE ON THE MAP</a>
</p>
<p>
  <img src=<%= imageURL %> height="25%" width="25%">
</p>