<!DOCTYPE html>
<html>
  <head>
    <title>Eat Choco-pie Together</title>
    <meta name="description" content="Rendering Airtable data in a web page" />
    <link
      id="favicon"
      rel="icon"
      href="https://glitch.com/favicon.ico"
      type="image/x-icon"
    />
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    <header>
      <a href="about">
        About Artist
      </a>
      <a href="triennial">
        Triennial
      </a>
      <a href="chocopie">
        Chocopie
      </a>
      <a href="register">
        Register
      </a>
    </header>
    <main>
      <svg class="map-svg" viewBox="30 30 2 4"></svg>
    </main>
    <script src="/browse.js"></script>
  </body>
</html>
