<!DOCTYPE html>
<html>
  <head>
    <title>Chocopies</title>
    <meta name="description" content="Rendering Airtable data in a web page" />
    <link
      id="favicon"
      rel="icon"
      href="https://glitch.com/favicon.ico"
      type="image/x-icon"
    />
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    <header>
      <a href="about.html">
        About Artist
      </a>
      <a href="triennial.html">
        About Artist
      </a>
      <a href="chocopie.html">
        About Artist
      </a>
      <a href="register.html">
        About Artist
      </a>
    
    </header>
    <main>

    </main>
    <script src="/client.js"></script>
  </body>
</html>
