<!-- This is a static file -->
<!-- served from your routes in server.js -->

<!DOCTYPE html>
<html>
  <head>
    <title>Eat Chocopie Together - How it works</title>
    <meta name="description" content="Rendering Airtable data in a web page" />
    <link
      id="favicon"
      rel="icon"
      href="https://glitch.com/favicon.ico"
      type="image/x-icon"
    />
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.min.css"
    />
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    <nav class="navbar" role="navigation" aria-label="main navigation">
      <div class="navbar-brand">
        <a
          role="button"
          class="navbar-burger burger"
          aria-label="menu"
          aria-expanded="false"
          data-target="navbarBasicExample"
        >
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a>
      </div>

      <div id="navbarBasicExample" class="navbar-menu has-text-justified">
                <div class="navbar-brand">
          <a href="/" class="navbar-item">EAT CHOCOPIE TOGETHER</a>
        </div>
        <div class="navbar-end">
          <a href="/about" class="navbar-item">ABOUT</a>
          <a href="/howitworks" class="navbar-item">HOW IT WORKS</a>
          <a href="/triennial" class="navbar-item"> ASIA SOCIETY TRIENNIAL </a>
        </div>
      </div>
    </nav>
    <section class="section">
      <div class="container">
        <h1 class="title is-1 has-text-left">How it works</h1>
        <p>
        As part of the Asia Society Triennial, the virtual “Eat Chocopie
        Together” art initiative seeks to further extend love, compassion, and
        humanity to promote peace on earth. Conceived in response to the
        COVID-19 pandemic, the project offers virtual Chocopies to be shared
        digitally by anyone, to send to a friend as a warm hello in this time of
        social distancing, symbolizing a gesture towards friendship.
        Furthermore, each share raises funds for <a href="https://kacfny.org/covid-19-community-action-fund/" target="_blank">The Korean American Community
        Foundation’s COVID-19 Action Fund</a>, a charity set up to aid the
        Korean-American community affected by the pandemic.
        </p>
         
        
        <h2>
          Here’s how it Works Step-by-Step:
        </h2>
        <p>
        <ul>
          <li>The homepage displays a map of the Korean peninsula,
        and a tally of Chocopies shared to date. <strong>Click anywhere on the map to
        activate a Zoomed-in map.</strong>
          </li>
          <li>
          The Zoomed-in map is made of individual
        Chocopies of five different design available to be shared: LOVE, UNITY,
        PEACE, SHARE, EAT. Previously shared Choco Pies are replaced with the
        sharer’s name. <strong>Click and drag around to see more of the map.</strong>        
          </li>
          <li>
          <strong>Click on any Choco Pie to activate the sharing process.</strong>
          </li>
          <li>
        Enter the Sender’s name, and email address, followed by the recipient’s name and email address
        you would be sending the Choco Pie to. You may add a personal message.
        <strong>Hit Send when ready.</strong> 
          </li>
          <li>
            If everything checks out, the Choco Pie will be
        virtually shared! Your recipient friend will receive it in the form of
        an email to the inbox you have specified.
          </li>
        <li>         
           <strong>The recipient friend has the
        option to click to “eat” the virtual Choco Pie,</strong> a symbolic gesture to
        reciprocate. 
        </li>
          <li>Both sharer’s and recipient’s names are acknowledged on the
        Korean Choco Pies Map.
          </li> 
        </ul>
        </p>
        
        
        <h2>
          Charity to Korean Americans Community Foundation
        </h2>
        
        <p>
          COVID-19 Action Fund By participating in “Eat Chocopie Together,” you
        are helping to raise funds towards the Korean American Community
        Foundation’s COVID-19 Action Fund in support of non-profit communities
        affected by the Coronavirus pandemic.
        </p>
    <p>
      <strong>One complete share raises a total
        of US$2, when:</strong>
      <ul>
      <li><strong>One Chocopie is shared with one friend = US$1 raised in
        sender’s name.</strong> 
    </li>
      <li><strong>The shared Chocopie is ‘eaten’ by a recipient = US$1
        raised in recipient’s name.</strong> 
        </li>
    </ul>
  </p>
    <p>
      US$5,000 has already been generously pledged
        by [XXXXX]. The project comes to an end when the target of all 2,500
        Choco Pies are shared and the pledged target of US$5,000 is raised, or
        by June 27, 2021 where the amount raised by that date will be donated to
        charity.
    </p>
    <p>
      <strong>
      Note: Users do not, at any time, contribute any money of their
        own. The participation of sharing and eating Choco Pies together raises
        the donation to the charity fund.
        </strong>
    </p>
    </h2>      
    </div>
    </section>
    <footer class="footer">
      <div class="footer-start">
        <div class="footer-item">
          <span>Privacy</span>
        </div>
        <div class="footer-item">
          <span>Terms and Conditions</span>
        </div>
        <div class="footer-item">
          <span>Follow on Instagram</span>
          <span
            ><a
              target="_blank"
              href="https://www.instagram.com/minacheonstudio/"
              >@MinaCheon</a
            ></span
          >
          <span
            ><a target="_blank" href="https://www.instagram.com/asiasociety/"
              >@AsiaSociety</a
            ></span
          >
        </div>
      </div>
    </footer>
  </body>
</html>
