<!-- This is a static file -->
<!-- served from your routes in server.js -->

<!DOCTYPE html>
<html>
  <head>
    <title>Eat Chocopie Together</title>
    <meta name="description" content="Rendering Airtable data in a web page" />
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.min.css"
    />
    <link
      rel="stylesheet"
      href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
      integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
      crossorigin=""
    />
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    <nav class="navbar" role="navigation" aria-label="main navigation">
      <div class="navbar-brand">
        <a
          role="button"
          class="navbar-burger burger"
          aria-label="menu"
          aria-expanded="false"
          data-target="navbarBasicExample"
        >
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a>
      </div>

      <div id="navbarBasicExample" class="navbar-menu has-text-justified">
        <div class="navbar-brand">
          <a href="/" class="navbar-item">EAT CHOCOPIE TOGETHER</a>
        </div>
        <div class="navbar-end">
          <a href="/about" class="navbar-item">ABOUT</a>
          <a href="/howitworks" class="navbar-item">HOW IT WORKS</a>
          <a href="/triennial" class="navbar-item"> ASIA SOCIETY TRIENNIAL </a>
        </div>
      </div>
    </nav>
    <section class="section">
      <div class="container">
        <div class="columns is-vcentered">
          <div class="column has-text-centered">
            <h1 class="title is-1 stats">
              <span id="piesSent"></span>/<span id="totalPies"></span>
            </h1>
            <h2 class="title is-3">Chocopies Shared</h2>
            <h1 class="title is-1 stats">
              <span id="moneyRaised"></span>
            </h1>
            <h2 class="title is-3">
              Raised For Charity
            </h2>
          </div>
          <div class="column is-half">
            <div id="main-map">
              <svg height="100%" width="100%" viewBox="0 0 75 100">
                <g></g>
              </svg>
              <span class="icon main-map__loading">
                <i class="fas fa-spinner fa-pulse"></i>
              </span>
            </div>
          </div>
          <div class="column has-text-centered">
            <h4 style="color:darkblue;font-weight:bold;"><em>“Eating Choco Pies together symbolizes compassion and love, a step
            towards global peace.”</em> – Mina Cheon</h4>
            <br/>
            Click the map on the left to
            start sharing a Choco Pie with a friend! By participating, you also help raise funds towards the <a href="/about#giving-back">Korean
            American Community Foundation COVID-19 Action Fund</a>, in support of
            non-profit communities impacted by the Coronavirus. No cash is
            required, just your virtual share! <a href="/howitworks">Learn more here &raquo;</a>
          </div>
        </div>
      </div>
    </section>
    <footer class="footer">
      <div class="footer-start">
        <div class="footer-item">
          <span><a href="/privacy">Privacy</a></span>
        </div>
        <div class="footer-item">
          <span><a href="/terms">Terms and Conditions</a></span>
        </div>
        <div class="footer-item">
          <span>Follow on Instagram</span>
          <span
            ><a
              target="_blank"
              href="https://www.instagram.com/minacheonstudio/"
              >@MinaCheon</a
            ></span
          >
          <span
            ><a target="_blank" href="https://www.instagram.com/asiasociety/"
              >@AsiaSociety</a
            ></span
          >
        </div>
      </div>
    </footer>

    <div class="modal" id="viewPies">
      <div class="modal-background"></div>
      <div class="modal-content">
        <h2 class="has-text-centered">Drag map around to discover more. Click on any Chocopie to begin sharing.  
</h2>
        <div id="zoom-map"></div>
      </div>
      <button class="modal-close is-large" aria-label="close"></button>
    </div>

    <div class="modal" id="sendPie">
      <div class="modal-background"></div>
      <div class="modal-content">
        <button class="modal-close is-large" aria-label="close"></button>
        <h2 class="has-text-centered">Great choice! Complete the form and hit SEND when ready.</h2>
        <br />
        <div class="columns is-vcentered">
          <div class="column has-text-centered">
            

            <img class="share_choco" />
          </div>
          <div class="column">
            <!--             <form class="checkout__form">
              <label class="checkout__form-label" for="name" required>
                Your Name
              </label>
              <input
                class="checkout__form-input"
                type="text"
                name="name"
                required
              />
              <label class="checkout__form-label" for="email">
                Your Email
              </label>
              <input class="checkout__form-input" type="email" name="email" />
              <label class="checkout__form-label" for="name" required>
                Recipient's Name
              </label>
              <input
                class="checkout__form-input"
                type="text"
                name="name"
                required
              />
              <label class="checkout__form-label" for="email">
                Recipient's Email
              </label>
              <input class="checkout__form-input" type="email" name="email" />
              <label class="checkout__form-label" for="message">
                Message
              </label>
              <textarea
                class="checkout__form-textarea"
                type="textarea"
                name="message"
              ></textarea>

              <div class="checkbox">
                <input type="checkbox" id="checkbox_1" checked />
                <label class="checkout__form-label" for="checkbox_1"
                  >Yes I would like to recieve asia society newsletters</label
                >
              </div>
              <input
                class="checkout__form-submit"
                type="submit"
                value="Send >"
              />
            </form> -->
            <form>
              <div class="field">
                <label class="label">Your Name</label>
                <div class="control has-icons-left has-icons-right">
                  <input
                    class="input"
                    type="text"
                    placeholder="John G"
                    maxlength="18"
                    required
                  />
                  <span class="icon is-small is-left">
                    <i class="fas fa-user"></i>
                  </span>
                </div>
              </div>

              <div class="field sender-email">
                <label class="label">Your Email</label>
                <div class="control has-icons-left has-icons-right">
                  <input
                    class="input"
                    type="email"
                    placeholder="email@email.com"
                    required
                  />
                  <span class="icon is-small is-left">
                    <i class="fas fa-envelope"></i>
                  </span>
                  <p class="help is-danger"></p>
                </div>
              </div>

              <div class="field">
                <label class="label">Your Friend's Name</label>
                <div class="control has-icons-left has-icons-right">
                  <input
                    class="input"
                    type="text"
                    placeholder="Recipient's Name"
                    maxlength="18"
                    required
                  />
                  <span class="icon is-small is-left">
                    <i class="fas fa-user"></i>
                  </span>
                </div>
              </div>

              <div class="field">
                <label class="label">Your Friend's Email</label>
                <div class="control has-icons-left has-icons-right">
                  <input
                    class="input"
                    type="email"
                    placeholder="email@email.com"
                    required
                  />
                  <span class="icon is-small is-left">
                    <i class="fas fa-envelope"></i>
                  </span>
                </div>
              </div>

              <div class="field">
                <label class="label">Personal Message</label>
                <div class="control">
                  <textarea class="textarea" placeholder=""></textarea>
                </div>
              </div>

              <div class="field">
                <div class="control">
                  <label class="checkbox">
                    <input type="checkbox" checked />
                    Yes, I would like to join the mailing list
                  </label>
                </div>
              </div>

              <div class="field is-grouped">
                <div class="control">
                  <input class="button is-link" type="submit" value="SEND" />
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>

    <div class="modal" id="confirmation">
      <div class="modal-background"></div>
      <button class="modal-close is-large" aria-label="close"></button>
      <div class="modal-content has-text-centered">
        <h2 class="title is-1">
          Thank you! 
        </h2>
        
        <p style="width:60%;margin:0 auto;">  
        <strong>Your Chocopie has been successfully shared, and $1 has been raised in your name towards the <a href="/about#giving-back">Korean American Community Foundation COVID-19 Action Fund</a>.
        </strong>
          <br />
          </p>
        
        <img class="send_choco" />
        <p>
          Please help to spread peace! Download this image to share on your preferred social media!
        </p>
        </div>
      </div>
    <!-- Make sure you put this AFTER Leaflet's CSS -->
    <script src="https://d3js.org/d3.v5.min.js"></script>
    <script
      src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
      integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
      crossorigin=""
    ></script>
    <script
      src="https://kit.fontawesome.com/e5930a8723.js"
      crossorigin="anonymous"
    ></script>
    <script src="https://cdn.jsdelivr.net/npm/leaflet-minimap@3.6.1/dist/Control.MiniMap.min.js"></script>
    <script src="/index.js"></script>
  </body>
</html>