<!-- This is a static file -->
<!-- served from your routes in server.js -->

<!DOCTYPE html>
<html>
  <head>
    <title>Eat Choco-pie Together</title>
    <meta name="description" content="Rendering Airtable data in a web page" />
    <link
      id="favicon"
      rel="icon"
      href="https://glitch.com/favicon.ico"
      type="image/x-icon"
    />
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    <header>
      <div class="header__link" data-toggle="modal" data-target="#shareNow">
        Share Now&#x203A;
      </div>
      <div
        class="header__link"
        data-toggle="modal"
        data-target="#aboutChocopie"
      >
        About Choco Pie &#x203A;
      </div>
      <div class="header__link" data-toggle="modal" data-target="#aboutArtist">
        About the Artist &#x203A;
      </div>
      <div
        class="header__link"
        data-toggle="modal"
        data-target="#aboutTriennial"
      >
        About Triennial &#x203A;
      </div>
    </header>
    <main>
      <div class="container">
        <div class="row main">
          <div class="menu">
            <h2>
              Chocopies Shared
            </h2>
            <h1><span id="piesClaimed"></span>/<span id="totalPies"></span></h1>
            <h2>
              Raised For Charity
            </h2>
            <h1>
              <span id="moneyRaised"></span>
            </h1>
          </div>
          <div class="map">
            <svg
              class="map-svg"
              xmlns="http://www.w3.org/2000/svg"
              style="display: inline; width: inherit; height: inherit;"
              viewBox="0 0 100 125"
            >
              <defs>
                <filter id="eat">
                  <feImage
                    xlink:href="https://cdn.glitch.com/1fa742a9-ec9d-49fb-8d8b-1aaa0efe3e2c%2FScreen%20Shot%202020-05-24%20at%202.56.08%20PM.png?v=1590353733200"
                  />
                </filter>
                <filter id="unite">
                  <feImage
                    xlink:href="https://cdn.glitch.com/1fa742a9-ec9d-49fb-8d8b-1aaa0efe3e2c%2FScreen%20Shot%202020-05-24%20at%202.56.35%20PM.png?v=1590357736162"
                  />
                </filter>
                <filter id="love">
                  <feImage
                    xlink:href="https://cdn.glitch.com/1fa742a9-ec9d-49fb-8d8b-1aaa0efe3e2c%2FScreen%20Shot%202020-05-24%20at%202.55.03%20PM.png?v=1590357838973"
                  />
                </filter>
                <filter id="peace">
                  <feImage
                    xlink:href="https://cdn.glitch.com/1fa742a9-ec9d-49fb-8d8b-1aaa0efe3e2c%2FScreen%20Shot%202020-05-24%20at%202.55.36%20PM.png?v=1590357805566"
                  />
                </filter>
                <filter id="share">
                  <feImage
                    xlink:href="https://cdn.glitch.com/1fa742a9-ec9d-49fb-8d8b-1aaa0efe3e2c%2FScreen%20Shot%202020-05-24%20at%202.55.48%20PM.png?v=1590357768554"
                  />
                </filter>
              </defs>
            </svg>
          </div>
          <div class="cta">
            <h3>
              Spread Love!
            </h3>
            <p>
              Share a choco pie with a friend! For every one shared, $1 will be
              donated to Charity ABC
            </p>
          </div>
        </div>
      </div>
    </main>

    <div class="modal" id="viewPies">
      <div class="modal-content">
        <span class="close-btn" data-dismiss="modal">&times;</span>
        <div class="zoom-map">
          <svg
            class="zoom-map-svg"
            xmlns="http://www.w3.org/2000/svg"
            style="display: inline; width: inherit; height: inherit;"
            id="mainView"
          ></svg>
        </div>

<!--         <div id="mainViewContainer">
          <svg
            class="zoom-map-svg"
            xmlns="http://www.w3.org/2000/svg"
            style="display: inline; width: inherit; height: inherit;"
            id="mainView"
          ></svg>
        </div>

        <div id="thumbViewContainer">
          <svg id="scopeContainer" class="thumbViewClass">
            <g>
              <rect
                id="scope"
                fill="red"
                fill-opacity="0.1"
                stroke="red"
                stroke-width="2px"
                x="0"
                y="0"
                width="0"
                height="0"
              />
              <line
                id="line1"
                stroke="red"
                stroke-width="2px"
                x1="0"
                y1="0"
                x2="0"
                y2="0"
              />
              <line
                id="line2"
                stroke="red"
                stroke-width="2px"
                x1="0"
                y1="0"
                x2="0"
                y2="0"
              />
            </g>
          </svg>
          <svg
            id="thumbView"
            type="image/svg+xml"
            class="thumbViewClass thumb-map-svg"
          > </svg>
        </div> -->
      </div>
    </div>

    <div class="modal" id="sendPie">
      <div class="modal-content">
        <span class="close-btn" data-dismiss="modal">&times;</span>
        <h1 class="modal-header">Share your chocopie</h1>
        <div class="send">
          <div class="customize">
            <img class="share_choco" />
          </div>
          <div class="checkout">
            <form class="checkout__form">
              <label class="checkout__form-label" for="name" required>
                Your Name
              </label>
              <input
                class="checkout__form-input"
                type="text"
                name="name"
                required
              />
              <label class="checkout__form-label" for="email">
                Your Email
              </label>
              <input class="checkout__form-input" type="email" name="email" />
              <label class="checkout__form-label" for="name" required>
                Recipient's Name
              </label>
              <input
                class="checkout__form-input"
                type="text"
                name="name"
                required
              />
              <label class="checkout__form-label" for="email">
                Recipient's Email
              </label>
              <input class="checkout__form-input" type="email" name="email" />
              <label class="checkout__form-label" for="message">
                Message
              </label>
              <textarea
                class="checkout__form-textarea"
                type="textarea"
                name="message"
              ></textarea>

              <div class="checkbox">
                <input type="checkbox" id="checkbox_1" checked />
                <label class="checkout__form-label" for="checkbox_1"
                  >Yes I would like to recieve asia society newsletters</label
                >
              </div>
              <input
                class="checkout__form-submit"
                type="submit"
                value="Send >"
              />
            </form>
          </div>
        </div>
      </div>
    </div>

    <div class="modal" id="confirmation">
      <div class="modal-content">
        <span class="close-btn" data-dismiss="modal">&times;</span>
        <h2>
          Thank you!
        </h2>
        <h2>
          $1 has been donated to charity.
        </h2>
        <h2>
          Now socialize your Chocopie!
        </h2>
        <img class="send_choco" />
        <h3>
          Share this on:
        </h3>
        <div class="social">
          <i class="fab fa-facebook"></i>
          <i class="fab fa-google-plus"></i>
          <i class="fab fa-instagram"></i>
          <i class="fab fa-pinterest"></i>
          <i class="fab fa-twitter"></i>
        </div>
      </div>
    </div>

    <div class="modal" id="shareNow">
      <div class="modal-content">
        <span class="close-btn" data-dismiss="modal">&times;</span>
        <h1 class="modal-header">Share Now</h1>
        <div class="modal-body">
          <h3>
            Share this on:
          </h3>
          <div class="social">
            <i class="fab fa-facebook"></i>
            <i class="fab fa-google-plus"></i>
            <i class="fab fa-instagram"></i>
            <i class="fab fa-pinterest"></i>
            <i class="fab fa-twitter"></i>
          </div>
        </div>
      </div>
    </div>

    <div class="modal" id="aboutArtist">
      <div class="modal-content">
        <span class="close-btn" data-dismiss="modal">&times;</span>
        <h1 class="modal-header">About the Artist</h1>
      </div>
    </div>

    <div class="modal" id="aboutTriennial">
      <div class="modal-content">
        <span class="close-btn" data-dismiss="modal">&times;</span>
        <h1 class="modal-header">About Triennial</h1>
      </div>
    </div>

    <div class="modal" id="aboutChocopie">
      <div class="modal-content">
        <span class="close-btn" data-dismiss="modal">&times;</span>
        <h1 class="modal-header">About Chocopie</h1>
      </div>
    </div>

    <script
      src="https://kit.fontawesome.com/e5930a8723.js"
      crossorigin="anonymous"
    ></script>
    <script src="https://cdn.jsdelivr.net/npm/svg-pan-zoom@3.5.0/dist/svg-pan-zoom.min.js"></script>
    <script src="/index.js"></script>
  </body>
</html>
