<!-- This is a static file -->
<!-- served from your routes in server.js -->

<!DOCTYPE html>
<html>
  <head>
    <title>Eat Choco-pie Together</title>
    <meta name="description" content="Rendering Airtable data in a web page" />
    <link
      id="favicon"
      rel="icon"
      href="https://glitch.com/favicon.ico"
      type="image/x-icon"
    />
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!--     <link rel="stlyesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.2/css/bulma.min.css" /> -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.min.css"
    />
    <link
      rel="stylesheet"
      href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
      integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
      crossorigin=""
    />
    <link
      rel="shortcut icon"
      href="https://cdn.glitch.com/1fa742a9-ec9d-49fb-8d8b-1aaa0efe3e2c%2FScreen%20Shot%202020-05-24%20at%202.55.48%20PM.png?v=1590357768554"
      type="image/x-icon"
    />
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    <nav class="navbar" role="navigation" aria-label="main navigation">
      <div class="navbar-brand">
        <a
          role="button"
          class="navbar-burger burger"
          aria-label="menu"
          aria-expanded="false"
          data-target="navbarBasicExample"
        >
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a>
      </div>

      <div id="navbarBasicExample" class="navbar-menu has-text-justified">
        <div class="navbar-end">
          <div class="navbar-item" data-toggle="modal" data-target="#about">
            ABOUT
          </div>
          <div class="navbar-item" data-toggle="modal" data-target="#artist">
            HOW IT WORKS
          </div>
          <div class="navbar-item" data-toggle="modal" data-target="#triennial">
            ASIA SOCIETY TRIENNIAL
          </div>
        </div>
      </div>
    </nav>
    <section class="section">
      <div class="container">
        <div class="columns is-vcentered">
          <div class="column has-text-centered">
            <h1 class="title is-1">
              <span id="piesSent"></span>/<span id="totalPies"></span>
            </h1>
            <h2 class="title is-3">Chocopies Shared</h2>
            <h1 class="title is-1">
              <span id="moneyRaised"></span>
            </h1>
            <h2 class="title is-3">
              Raised For Charity
            </h2>
          </div>
          <div class="column is-one-third">
            <div id="main-map">
              <svg height="100%" width="100%" viewBox="0 0 75 100">
                <g></g>
              </svg>
              <span class="icon main-map__loading">
                <i class="fas fa-spinner fa-pulse"></i>
              </span>
            </div>
          </div>
          <div class="column has-text-centered">
            <p>
              The act of eating together symbolizes a step towards global peace
              love and understanding
            </p>
            <p>
              Start by clicking the map to share a Chocopie with a friend
            </p>
            <p>
              By eating a Chocopie with a freind, $2 will be donated in your
              names toward the Korean American Community Foundation Covid-19
              Action Fund, in support of the community impacted by the
              Cornavirus
            </p>
            <p>
              Learn More
            </p>
          </div>
        </div>
      </div>
    </section>
    <footer class="footer">
      <div class="footer-start">
        <div class="footer-item">
          <span>Privacy</span>
        </div>
        <div class="footer-item">
          <span>Terms and Conditions</span>
        </div>
        <div class="footer-item">
          <span>Follow on Instagram</span>
          <span
            ><a
              target="_blank"
              href="https://www.instagram.com/minacheonstudio/"
              >@MinaCheon</a
            ></span
          >
          <span
            ><a target="_blank" href="https://www.instagram.com/asiasociety/"
              >@AsiaSociety</a
            ></span
          >
        </div>
      </div>
    </footer>

    <div class="modal" id="viewPies">
      <div class="modal-background"></div>
      <div class="modal-content">
        <div id="zoom-map"></div>
      </div>
      <button class="modal-close is-large" aria-label="close"></button>
    </div>

    <div class="modal" id="sendPie">
      <div class="modal-background"></div>
      <div class="modal-content">
        <button class="modal-close is-large" aria-label="close"></button>
        <h1 class="title is-1 has-text-centered">Send your chocopie</h1>
        <div class="columns is-vcentered">
          <div class="column has-text-centered">
            <img class="share_choco" />
          </div>
          <div class="column">
            <!--             <form class="checkout__form">
              <label class="checkout__form-label" for="name" required>
                Your Name
              </label>
              <input
                class="checkout__form-input"
                type="text"
                name="name"
                required
              />
              <label class="checkout__form-label" for="email">
                Your Email
              </label>
              <input class="checkout__form-input" type="email" name="email" />
              <label class="checkout__form-label" for="name" required>
                Recipient's Name
              </label>
              <input
                class="checkout__form-input"
                type="text"
                name="name"
                required
              />
              <label class="checkout__form-label" for="email">
                Recipient's Email
              </label>
              <input class="checkout__form-input" type="email" name="email" />
              <label class="checkout__form-label" for="message">
                Message
              </label>
              <textarea
                class="checkout__form-textarea"
                type="textarea"
                name="message"
              ></textarea>

              <div class="checkbox">
                <input type="checkbox" id="checkbox_1" checked />
                <label class="checkout__form-label" for="checkbox_1"
                  >Yes I would like to recieve asia society newsletters</label
                >
              </div>
              <input
                class="checkout__form-submit"
                type="submit"
                value="Send >"
              />
            </form> -->
            <form>
              <div class="field">
                <label class="label">Your Name</label>
                <div class="control has-icons-left has-icons-right">
                  <input
                    class="input"
                    type="text"
                    placeholder="John G."
                    maxlength="18"
                    required
                  />
                  <span class="icon is-small is-left">
                    <i class="fas fa-user"></i>
                  </span>
                </div>
              </div>

              <div class="field sender-email">
                <label class="label">Your Email</label>
                <div class="control has-icons-left has-icons-right">
                  <input
                    class="input"
                    type="email"
                    placeholder="john@gmail.com"
                    required
                  />
                  <span class="icon is-small is-left">
                    <i class="fas fa-envelope"></i>
                  </span>
                  <p class="help is-danger"></p>
                </div>
              </div>

              <div class="field">
                <label class="label">Recipient Name</label>
                <div class="control has-icons-left has-icons-right">
                  <input
                    class="input"
                    type="text"
                    placeholder="Kelly A"
                    maxlength="18"
                    required
                  />
                  <span class="icon is-small is-left">
                    <i class="fas fa-user"></i>
                  </span>
                </div>
              </div>

              <div class="field">
                <label class="label">Recipient Email</label>
                <div class="control has-icons-left has-icons-right">
                  <input
                    class="input"
                    type="email"
                    placeholder="Kelly@gmail.com"
                    required
                  />
                  <span class="icon is-small is-left">
                    <i class="fas fa-envelope"></i>
                  </span>
                </div>
              </div>

              <div class="field">
                <label class="label">Message</label>
                <div class="control">
                  <textarea class="textarea" placeholder="Textarea"></textarea>
                </div>
              </div>

              <div class="field">
                <div class="control">
                  <label class="checkbox">
                    <input type="checkbox" checked />
                    Yes I would like to recieve asia society newsletters
                  </label>
                </div>
              </div>

              <div class="field is-grouped">
                <div class="control">
                  <input class="button is-link" type="submit" value="Send >" />
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>

    <div class="modal" id="confirmation">
      <div class="modal-background"></div>
      <button class="modal-close is-large" aria-label="close"></button>
      <div class="modal-content has-text-centered">
        <h2 class="title is-2">
          Thank you!
        </h2>
        <h2 class="title is-2">
          $1 has been donated to charity.
        </h2>
        <h2 class="title is-2">
          Now socialize your Chocopie!
        </h2>
        <img class="send_choco" />
        <h3>
          Share this on:
        </h3>
        <div class="social">
          <span class="icon">
            <i class="fab fa-facebook"></i>
          </span>
          <span class="icon">
            <i class="fab fa-google-plus"></i>
          </span>
          <span class="icon">
            <i class="fab fa-instagram"></i>
          </span>
          <span class="icon">
            <i class="fab fa-pinterest"></i>
          </span>
          <span class="icon">
            <i class="fab fa-twitter"></i>
          </span>
        </div>
      </div>
    </div>

    <div class="modal" id="about">
      <div class="modal-background"></div>
      <button class="modal-close is-large" aria-label="close"></button>
      <div class="modal-content">
        <h1 class="title is-1 has-text-centered">About</h1>
        <h2>History of Choco Pies</h2>
        <p>
          Choco Pies, a South Korean confectionary, became one of the most desirable consumer products in North Korea, ever since they were donated by South Korean workers to their peers from the North at the jointly managed Kaesong Industrial Complex. In 2014, South Korean activists even used helium balloons to launch 10,000 Choco Pies over the border to North Korea, some with messages of love and care as well as foreign media. It has thus become a symbol of Korean cooperation.
          For the inaugural Asia Society Triennial (October 27, 2020 - June 27, 2021), a festival of art, ideas and innovation, Korean-American artist Mina Cheon’s signature artwork for Korean unification “Eat Chocopie Together,” will be installed at the David Geffen Hall of Lincoln Center in New York City. Hosted by the New York Philharmonic, this special performative installation will feature 10,000 Choco Pies arranged in the shape of the Korean peninsula for the public audience to freely eat. For Cheon, the symbolic gesture of eating Choco Pie represents “taking a bite for peace”, thus sharing a piece of the dream towards global peace.
          In addition to the physical art installation, this website presents a special virtual version of “Eat Chocopie Together” as part of the inaugural Asia Society Triennial. Responding to the socially distant conditions of our time and the global devastation of the COVID-19 pandemic at a time where compassion and humanity is much needed for healing, this initiative hopes to allow anyone, from anywhere, to extend love and peace in the time of the Coronavirus by virtually sharing and enjoying Choco Pies with friends, families, and loved ones. There are five different Choco Pies designs, specially designed by Cheon to represent important aspects: LOVE, UNITY, PEACE, SHARE, EAT.
        </p>
        <h2>Giving Back</h2>
        <p>
          Not only is eating a Choco Pie with a friend an action towards peace and friendship, but for each Choco Pie shared between two friends, $2 will be raised in their names to charity, The Korean American Community Foundation’s COVID-19 Action Fund, up to a total of $5,000.
          In March, KACF launched their COVID-19 Community Action Fund to provide immediate and longer-term support to their nonprofit partners, organizations that are working in the frontline of this pandemic to provide essential services to the most vulnerable Korean Americans. The funds will be used to spearhead urgent relief efforts for individuals and families affected by COVID-19, including Korean language assistance in completing unemployment and small business applications, increased domestic violence counseling, meal delivery, a Korean language COVID-19 health hotline, mental health support, emergency cash assistance for those excluded from federal emergency payments, and shelter for homeless Korean Americans. With the funds, KACF will also support the important work to address growing anti-Asian racism in our community. 
          Learn more about the charity fund: https://kacfny.org/covid-19-community-action-fund/
        </p>
        <h2>About the Artist</h2>
        <p>
          Mina Cheon (천민정 PhD, MFA) is a Korean-American global new media artist, scholar, and educator who divides her time between Korea and the United States. Cheon has exhibited her political pop art known as “Polipop” internationally and draws inspiration from global media and popular culture to produce work that intersects politics and pop art in evocative ways. While she creates work that ranges in medium from new media, video, installation, performance, and public projects to traditional media of painting and sculptures, the content of the work is in historic alignment to appropriation art and global activism art.
          In particular, Cheon has worked on North Korean awareness and global peace projects since 2004, and while assuming different artistic pseudonyms for the past twenty years such as Minaliza1000, M-1000, Jae Son, Cheon’s latest avatar and alter ego is a North Korean artist named KIM IL SOON who made her first international public appearance at the Pulse Art Fair NY in 2013.
          Cheon's states, "As a Korean, the idea of having two artistic identities, South Korean Mina Cheon and North Korean Kim Il Soon, is an obvious reflection on the country’s state of being divided. It makes all the sense in the world that if a country is split so should the artist in practice"
          While Cheon’s “Video Art History Lessons by Professor Kim” has been sent into North Korea since 2017 by USB drives and SD cards, the chocopie installation promotes her global artistic activism to bring awareness about the state of Koreas that has been working towards peace. “Eat Chocopie Together” became a national sensation when it was first featured at the 2018 Busan Biennale in Korea; even the South Korean President Moon and First Lady visited amidst Korea’s media buzz and slogan for “A New Future” of Korea.
          Learn more about Mina Cheon at:  http://www.minacheon.com/
        </p>
      </div>
    </div>

    <div class="modal" id="artist">
      <div class="modal-background"></div>
      <button class="modal-close is-large" aria-label="close"></button>
      <div class="modal-content">
        <h1 class="title is-1 has-text-centered">About the Artist</h1>
      </div>
    </div>

    <div class="modal" id="triennial">
      <div class="modal-background"></div>
      <button class="modal-close is-large" aria-label="close"></button>
      <div class="modal-content">
        <h1 class="title is-1 has-text-centered">Asia Society Triennial</h1>
        <p>
          The inaugural Asia Society Triennial, a festival of art, ideas, and innovation, is slated to run October 27, 2020 through June 27, 2021. This first edition of the Asia Society Triennial, titled We Do Not Dream Alone, will be composed of a multi-venue exhibition, interdisciplinary panels, forums, and performances.
        </p>
<p>
Part 1: October 27, 2020–February 7, 2021<br/>
Part 2: March 16, 2021–June 27, 2021
        </p>
      </div>
    </div>

    <!-- Make sure you put this AFTER Leaflet's CSS -->
    <script src="https://d3js.org/d3.v5.min.js"></script>
    <script
      src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
      integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
      crossorigin=""
    ></script>
    <script
      src="https://kit.fontawesome.com/e5930a8723.js"
      crossorigin="anonymous"
    ></script>
    <script src="https://cdn.jsdelivr.net/npm/leaflet-minimap@3.6.1/dist/Control.MiniMap.min.js"></script>
    <script src="/index.js"></script>
  </body>
</html>
