<!-- This is a static file -->
<!-- served from your routes in server.js -->

<!DOCTYPE html>
<html>
  <head>
    <title>Eat Chocopie Together - Privacy</title>
    <meta name="description" content="Rendering Airtable data in a web page" />
    <link
      id="favicon"
      rel="icon"
      href="https://glitch.com/favicon.ico"
      type="image/x-icon"
    />
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.min.css"
    />
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    <nav class="navbar" role="navigation" aria-label="main navigation">
      <div class="navbar-brand">
        <a
          role="button"
          class="navbar-burger burger"
          aria-label="menu"
          aria-expanded="false"
          data-target="navbarBasicExample"
        >
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a>
      </div>

      <div id="navbarBasicExample" class="navbar-menu has-text-justified">
        <div class="navbar-brand">
          <a href="/" class="navbar-item">EAT CHOCOPIE TOGETHER</a>
        </div>
        <div class="navbar-end">
          <a href="/about" class="navbar-item">ABOUT</a>
          <a href="/howitworks" class="navbar-item">HOW IT WORKS</a>
          <a href="/triennial" class="navbar-item"> ASIA SOCIETY TRIENNIAL </a>
        </div>
      </div>
    </nav>
    <section class="section">
      <div class="container">
        <h1 class="title is-1 has-text-left">Privacy Statement</h1>
        <p>
          
        </p>
        Last updated: June 12, 2020
        <br />
        <h2>Introduction</h2>
        <p>
          Eat Chocopie Together (“we” or “us” or “our”) respects the privacy of
          our users (“user” or “you”). This Privacy Policy explains how we
          collect, use, disclose, and safeguard your information when you visit
          our website eatchocopietogether.com, including any other media form,
          media channel, mobile website, or mobile application related or
          connected thereto (collectively, the “Site”). Please read this privacy
          policy carefully. If you do not agree with the terms of this privacy
          policy, please do not access the site.
        </p>
        <p>
          We reserve the right to make changes to this Privacy Policy at any
          time and for any reason. We will alert you about any changes by
          updating the “Last Updated” date of this Privacy Policy. Any changes
          or modifications will be effective immediately upon posting the
          updated Privacy Policy on the Site, and you waive the right to receive
          specific notice of each such change or modification.
        </p>
        <p>
          You are encouraged to periodically review this Privacy Policy to stay
          informed of updates. You will be deemed to have been made aware of,
          will be subject to, and will be deemed to have accepted the changes in
          any revised Privacy Policy by your continued use of the Site after the
          date such revised Privacy Policy is posted.
        </p>
        <h2>
          When and how do we collect your information?
        </h2>
        <p>
          We collect two kinds of information from Our Site’s visitors:
          anonymous information and personally identifiable information.
        </p>
        <h2>
          COLLECTION OF YOUR INFORMATION
        </h2>

        <p>
          We may collect information about you in a variety of ways. The
          information we may collect on the Site includes:
        </p>

        <h2>
          Personal Data
        </h2>
        <p>
          Personally identifiable information, such as your name, email address,
          friend’s name, and friend’s email address, that you voluntarily give
          to us when you choose to participate in various activities related to
          the Site. You are under no obligation to provide us with personal
          information of any kind, however your refusal to do so may prevent you
          from using certain features of the Site.
        </p>
        <p>
          When a visitor provides personal information to us, we use it for the
          purposes for which it was provided to us as stated at the point of
          collection or as obvious from the context of the collection. Whenever
          possible or required by law, such sharing of information will be
          subject to an agreement with each such service provider, requiring
          such service provider to comply with all relevant data protection
          regulations.
        </p>
        <h2>
          Anonymous Information
        </h2>
        <p>
          Our servers automatically log certain information that does not
          personally identify you. We use this anonymous information in
          aggregate form to help us manage and improve Our Site. The anonymous
          information we record includes, for example, the pages you visit on
          Our Site, the amount of time you spend viewing those pages, the links
          and advertisements you click, the browser you use, and the address of
          the web page that referred you to Our Site.
        </p>

        <h2>
          Financial Data
        </h2>
        <p>
          We do not at any time on the Site request, collect or store any of
          your financial information, such as data related to your payment
          method (e.g. valid credit card number, card brand, expiration date).
        </p>
        <h2>
          USE OF YOUR INFORMATION
        </h2>
        <p>
          Having accurate information about you permits us to provide you with a
          smooth, efficient, and customized experience. Specifically, we may use
          information collected about you via the Site to:
        </p>
        <ul>
          <li>Administer promotions, and charity donations.</li>
          <li>Email you regarding your activities or registration.</li>
          <li>Notify you of updates to the Site.</li>
          <li>Send you a newsletter.</li>
        </ul>
        <h2>
          DISCLOSURE OF YOUR INFORMATION
        </h2>

        <p>
          We may share information we have collected about you in certain
          situations. Your information may be disclosed as follows:
        </p>

        <h2>
          By Law or to Protect Rights
        </h2>
        <p>
          If we believe the release of information about you is necessary to
          respond to legal process, to investigate or remedy potential
          violations of our policies, or to protect the rights, property, and
          safety of others, we may share your information as permitted or
          required by any applicable law, rule, or regulation. This includes
          exchanging information with other entities for fraud protection and
          credit risk reduction.
        </p>

        <h2>
          Third-Party Service Providers
        </h2>
        <p>
          We may share your information with third parties that perform services
          for us or on our behalf, including payment processing, data analysis,
          email delivery, hosting services, customer service, and marketing
          assistance.
        </p>
        <h2>
          Marketing Communications
        </h2>
        <p>
          With your consent, or with an opportunity for you to withdraw consent,
          we may share your information with third parties for marketing
          purposes, as permitted by law.
        </p>
        <h2>
          Online Postings
        </h2>
        <p>
          When you post contributions or other content to the Site, your posts
          may be viewed by all users and may be publicly distributed outside the
          Site in perpetuity.
        </p>
        <h2>
          Affiliates
        </h2>
        <p>
          We may share your information with our affiliates, in which case we
          will require those affiliates to honor this Privacy Policy. Affiliates
          include our parent company and any subsidiaries, joint venture
          partners or other companies that we control or that are under common
          control with us.
        </p>

        <h2>
          TRACKING TECHNOLOGIES
        </h2>

        <h2>
          Website Analytics
        </h2>
        <p>
          We may also partner with selected third-party vendors, such as Google
          Analytics, to allow tracking technologies and remarketing services on
          the Site through the use of first party cookies and third-party
          cookies, to, among other things, analyze and track users’ use of the
          Site, determine the popularity of certain content and better
          understand online activity. By accessing the Site, you consent to the
          collection and use of your information by these third-party vendors.
          You are encouraged to review their privacy policy and contact them
          directly for responses to your questions. We do not transfer personal
          information to these third-party vendors. However, if you do not want
          any information to be collected and used by tracking technologies, you
          can visit the third-party vendor or the Network Advertising Initiative
          Opt-Out Tool or Digital Advertising Alliance Opt-Out Tool.
        </p>
        <p>
          You should be aware that getting a new computer, installing a new
          browser, upgrading an existing browser, or erasing or otherwise
          altering your browser’s cookies files may also clear certain opt-out
          cookies, plug-ins, or settings.
        </p>
        <h2>
          THIRD-PARTY WEBSITES
        </h2>
        <p>
          The Site may contain links to third-party websites and applications of
          interest, including advertisements and external services, that are not
          affiliated with us. Once you have used these links to leave the Site,
          any information you provide to these third parties is not covered by
          this Privacy Policy, and we cannot guarantee the safety and privacy of
          your information. Before visiting and providing any information to any
          third-party websites, you should inform yourself of the privacy
          policies and practices (if any) of the third party responsible for
          that website, and should take those steps necessary to, in your
          discretion, protect the privacy of your information. We are not
          responsible for the content or privacy and security practices and
          policies of any third parties, including other sites, services or
          applications that may be linked to or from the Site.
        </p>
        <h2>
          SECURITY OF YOUR INFORMATION
        </h2>
        <p>
          We use administrative, technical, and physical security measures to
          help protect your personal information. While we have taken reasonable
          steps to secure the personal information you provide to us, please be
          aware that despite our efforts, no security measures are perfect or
          impenetrable, and no method of data transmission can be guaranteed
          against any interception or other type of misuse. Any information
          disclosed online is vulnerable to interception and misuse by
          unauthorized parties. Therefore, we cannot guarantee complete security
          if you provide personal information.
        </p>
        <h2>
          POLICY FOR CHILDREN
        </h2>
        <p>
          We do not knowingly solicit information from or market to children
          under the age of 13. If you become aware of any data we have collected
          from children under age 13, please contact us using the contact
          information provided below.
        </p>

        <h2>
          OPTIONS REGARDING YOUR INFORMATION
        </h2>

        <h2>
          Withdrawal of Participation
        </h2>

        <p>
          You may at any time renege participation to remove your information by
          contacting us at eatchocopie@gmail.com.
        </p>

        <p>
          Upon your request to terminate your account, we will deactivate or
          delete your account and information from our active databases.
          However, some information may be retained in our files to prevent
          fraud, troubleshoot problems, assist with any investigations, enforce
          our Terms of Use and/or comply with legal requirements.
        </p>

        <h2>
          Emails and Communications
        </h2>

        <ul>
          If you no longer wish to receive correspondence, emails, or other
          communications from us, you may opt-out by:

          <li>
            Noting your preferences at the time you register your account with
            the Site
          </li>
          <li>Contacting us at chocopie@gmail.com</li>
        </ul>
        <p>
          If you no longer wish to receive correspondence, emails, or other
          communications from third parties, you are responsible for contacting
          the third party directly.
        </p>
        <h2>
          EU Data Subject Rights
        </h2>

        <p>
          If you are an EU Data Subject, you have the rights enumerated below in
          this section. Please email us at eatchocopie@gmail.com if you wish to
          exercise these rights.
        </p>

        <h2>
          RIGHT TO ACCESS
        </h2>
        <p>
          You have the right to access the personal information the Site has for
          you.
        </p>

        <h2>
          RIGHT TO RECTIFICATION
        </h2>

        <p>
          You have a right to request us to correct your personal information
          where it is inaccurate or out of date.
        </p>

        <h2>
          RIGHT TO BE FORGOTTEN (RIGHT TO ERASURE)
        </h2>

        <p>
          You have the right, under certain circumstances, to have your personal
          information erased. Your information can only be erased if your data
          is no longer necessary for the purpose for which it was collected, and
          we have no other legal ground for processing the data.
        </p>

        <h2>
          RIGHT TO OBJECT TO PROCESSING
        </h2>

        <p>
          You have the right to object to the processing of your personal
          information at any time, on legitimate grounds, except if otherwise
          permitted by applicable law, or to lodge a complaint with a
          supervisory authority. If you raise an objection, we have an
          opportunity to demonstrate that we have compelling legitimate
          interests which override your rights and freedoms.
        </p>

        <h2>
          RIGHT TO RESTRICT PROCESSING
        </h2>
        <ul>
          You have the right to restrict the processing of your personal
          information, but only where:
          <li>
            Its accuracy is contested, to allow us to verify its accuracy; or
          </li>
          <li>The processing is unlawful, but you do not want it erased; or</li>
          <li>
            It is no longer needed for the purposes for which it was collected,
            but we still need it to establish, exercise or defend legal claims;
            or
          </li>
          <li>
            You have objected to processing of your data, and verification of
            overriding grounds is pending.
          </li>
        </ul>

        <h2>
          RIGHT TO DATA PORTABILITY
        </h2>
        <p>
          You have the right to data portability, which requires us to provide
          personal information to you or another controller in a commonly used,
          machine-readable format, but only where the processing of that
          information is based on (1) your consent; or (2) the performance of a
          contract to which you are a party.
        </p>
        <h2>
          RIGHT TO DECLINE AUTOMATED DECISION MAKING
        </h2>
        <p>
          You have the right to not be subject to decisions based solely on
          automated decision making, which produce legal or significant effects
          for you, except where these are (1) necessary for a contract to which
          you are a party; (2) authorized by law; (3) based on your explicit
          consent.
        </p>
        <p>
          Even where such decisions are permitted, you can contest the decision
          and require Asia Society to exercise human intervention.
        </p>
        <p>
          We currently do not use automated decision making when processing your
          personal information.
        </p>
        <h2>
          CALIFORNIA PRIVACY RIGHTS
        </h2>
        <p>
          If you are a California resident, you may request from a business with
          whom you have a business relationship information about how it shares
          personal information with third parties. You may make one request per
          year by emailing us at eatchocopie@gmail.com.
        </p>
        <h2>
          Further Questions
        </h2>
        <p>
          Please feel free to contact us at eatchocopie@gmail.com if you have
          additional questions about our privacy policy and/or have a complaint
          and we would be happy to provide you with greater detail. You may also
          contact your local Data Protection Authority.
        </p>
      </div>
    </section>
    <footer class="footer">
      <div class="footer-start">
        <div class="footer-item">
          <span><a href="/privacy">Privacy</a></span>
        </div>
        <div class="footer-item">
          <span><a href="/terms">Terms and Conditions</a></span>
        </div>
        <div class="footer-item">
          <span>Follow on Instagram</span>
          <span
            ><a
              target="_blank"
              href="https://www.instagram.com/minacheonstudio/"
              >@MinaCheon</a
            ></span
          >
          <span
            ><a target="_blank" href="https://www.instagram.com/asiasociety/"
              >@AsiaSociety</a
            ></span
          >
        </div>
      </div>
    </footer>
  </body>
</html>
