<!-- This is a static file -->
<!-- served from your routes in server.js -->

<!DOCTYPE html>
<html>
  <head>
    <title>Eat Choco-pie Together</title>
    <meta name="description" content="Rendering Airtable data in a web page" />
    <link
      id="favicon"
      rel="icon"
      href="https://glitch.com/favicon.ico"
      type="image/x-icon"
    />
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.min.css"
    />
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    <nav class="navbar" role="navigation" aria-label="main navigation">
      <div class="navbar-brand">
        <a
          role="button"
          class="navbar-burger burger"
          aria-label="menu"
          aria-expanded="false"
          data-target="navbarBasicExample"
        >
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a>
      </div>

      <div id="navbarBasicExample" class="navbar-menu has-text-justified">
        <div class="navbar-end">
          <a href="/" class="navbar-item">HOME</a>
          <a href="/about" class="navbar-item">ABOUT</a>
          <a href="/howitworks" class="navbar-item">HOW IT WORKS</a>
          <a href="/triennial" class="navbar-item"> ASIA SOCIETY TRIENNIAL </a>
        </div>
      </div>
    </nav>
    <section class="section">
      <div class="container">
        <h1 class="title is-1 has-text-left">Asia Society Triennial</h1>
        <p>
          The inaugural <a href="https://asiasociety.org/triennial" target="_blank">Asia Society Triennial</a>, a festival of art, ideas, and
          innovation, is slated to run October 27, 2020 through June 27, 2021.
          This first edition of the Asia Society Triennial, titled <em>We Do Not
          Dream Alone</em>, will be composed of a multi-venue exhibition,
          interdisciplinary panels, forums, and performances. 
        </p>
        <p>
          The first
          initiative of its kind in the United States, the Asia Society
          Triennial reflects the diversity of contemporary art from Asia and the
          diaspora. It will celebrate the rich tapestry of Asian cultures that
          comprise a significant, yet historically underserved, demographic
          within New York City. The Triennial will take place at venues
          throughout New York City, including Asia Society, David Geffen Hall at
          Lincoln Center, the Park Avenue Malls at East 70th Street, and Times
          Square Arts. Collateral events will be hosted by institutions
          including the New-York Historical Society. With programs and
          exhibitions at multiple venues, the Triennial will be widely
          accessible for broad audiences while the unique identity and layered
          history of each site provide an ideal foundation from which featured
          artists will create site-specific commissioned projects. 
        </p>
        <p>
          <strong>  
          Part 1: October 27, 2020–February 7, 2021<br/> 
          Part 2: March 16, 2021–June 27, 2021<br/>
        </strong>
          </p>
          <a href="https://asiasociety.org/triennial" target="_blank"
            >Learn more about the Asia Society Triennial.</a>
        </p>
      </div>
    </section>
    <footer class="footer">
      <div class="footer-start">
        <div class="footer-item">
          <span>Privacy</span>
        </div>
        <div class="footer-item">
          <span>Terms and Conditions</span>
        </div>
        <div class="footer-item">
          <span>Follow on Instagram</span>
          <span
            ><a
              target="_blank"
              href="https://www.instagram.com/minacheonstudio/"
              >@MinaCheon</a
            ></span
          >
          <span
            ><a target="_blank" href="https://www.instagram.com/asiasociety/"
              >@AsiaSociety</a
            ></span
          >
        </div>
      </div>
    </footer>
  </body>
</html>
