/* styles */
/* called by your view template */

* {
  box-sizing: border-box;
}

body {
  margin:0;
  font-family: helvetica, arial, sans-serif;
  font-size: 1.5em;
  height:100vh;
}

header {
  height: 75px;
  display:flex;
  justify-content: space-around;
  align-items:center;
  background: rgba(255, 255, 255, 0.75);
  position:absolute;
  width:100%;
}

h1 {
  text-transform: uppercase;
  margin: 0;
}

h2 {
  text-transform: uppercase;
  margin: 0;
}

ul {
  margin:0;
  list-style:none;
  padding-inline-start: 0;
  text-decoration:underline;
}

li {
  margin-bottom: 1em;
}

a {
  color:black;
}

main {
  height:100%;
}

.container {
  padding:4em;
  height:100%;
  text-align:center;
}

.row{
  display:flex;
}

.overview {
  justify-content: space-around;
}

.overview__left{
  text-align:center;
}

.overview__right{
  text-align:center;
}

.main {
  display:flex;
  align-items: center;
  height:100%;
}

.menu {
  flex:1;
}

.map {
  flex:2;
  height:100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cta {
  text-align: right;
  flex:1;
}

.map-svg{
  height:100%;
  width:100%;
}

.pie {
  stroke-width: .02;
  stroke: black;
  fill: red;
}

.pie:hover {
  stroke: yellow;
}


.send{
  display:flex;
  height:100%
}

.checkout{
  flex:1;
  display:flex;
  align-items: center;
}

.checkout__form{
  width:100%;
  text-align:left;
  display:flex;
  flex-direction:column;
}

.checkout__form-label{
  margin-top:1em;
  margin-bottom:.5em;
}

.checkout__form-input{
  height:2em;
  width:100%;
  border: 2px solid black;
  color:red;
  font-weight:bold;
  font-size: 1em;
  padding-left: 1em;
}

.checkout__form-textarea{
  height:4em;
  width:100%;
  border: 2px solid black;
  color:red;
  font-weight:bold;
  font-size: 1em;
  padding-left: 1em;
}

.checkout__form-submit{
  text-decoration:underline;
  background-color:#FFF;
  border: none;
  font-size:1.5em;
  text-align:right;
  cursor:pointer;
}

.checkout__form-submit:hover{
  color:grey;
}


.customize{
  display:flex;
  flex:1;
  justify-content:center;
  align-items: center;
}

.customize_choco{
  width:200px;
  height:200px;
}

.social {
  font-size: 2.5em;
}