/* styles */
/* called by your view template */

* {
  box-sizing: border-box;
}

body {
  margin:0;
  font-family: helvetica, arial, sans-serif;
  font-size: 1.5em;
  height:100vh;
}

header {
  height: 75px;
  display:flex;
  justify-content: space-around;
  align-items:center;
  background: rgba(255, 255, 255, 0.75);
  position:absolute;
  width:100%;
}

h1 {
  text-transform: uppercase;
  margin: 0;
}

h2 {
  text-transform: uppercase;
  margin: 0;
}

ul {
  margin:0;
  list-style:none;
  padding-inline-start: 0;
  text-decoration:underline;
}

li {
  margin-bottom: 1em;
}

a {
  color:black;
}

header {
}

main {
  height:100%;
}

.container {
  padding:4em;
  height:100%;
}

.row{
  display:flex;
}

.overview {
  justify-content: space-around;
}

.overview__left{
  text-align:center;
}

.overview__right{
  text-align:center;
}

.main {
  display:flex;
  align-items: center;
  height:100%;
}

.menu {
  flex:1;
}

.map {
  flex:2;
  height:100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cta {
  text-align: right;
  flex:1;
}

.map-svg{
  height:100%;
  width:100%;
}

.pie {
  stroke-width: .001em;
  stroke: black;
  fill: red;
}