/* styles */
/* called by your view template */

* {
  box-sizing: border-box;
}

body {
  margin:0;
  font-family: helvetica, arial, sans-serif;
  font-size: 1.5em;
  height:100vh;
}

header {
  height: 75px;
  display:flex;
  justify-content: space-around;
  align-items:center;
  background: rgba(255, 255, 255, 0.75);
  position:absolute;
  width:100%;
}

h1 {
  text-transform: uppercase;
  margin: 0;
}

h2 {
  text-transform: uppercase;
  margin: 0;
}

ul {
  margin:0;
  list-style:none;
  padding-inline-start: 0;
  text-decoration:underline;
}

li {
  margin-bottom: 1em;
}

a {
  color:black;
}

main {
  height:100%;
}

.container {
  padding:4em;
  height:100%;
  text-align:center;
}

.row{
  display:flex;
}

.overview {
  justify-content: space-around;
}

.overview__left{
  text-align:center;
}

.overview__right{
  text-align:center;
}

.main {
  display:flex;
  align-items: center;
  height:100%;
}

.menu {
  flex:1;
}

.map {
  flex:2;
  height:100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cta {
  text-align: right;
  flex:1;
}

.map-svg{
  height:100%;
  width:100%;
}

.pie {
  stroke-width: .02;
  stroke: black;
  fill: red;
}

.pie:hover {
  stroke: yellow;
}


.send{
  display:flex;
  height:100%
}

.checkout{
  flex:1;
  display:flex;
  align-items: center;
}

.checkout__form{
  width:100%;
  text-align:left;
  display:flex;
  flex-direction:column;
}

.checkout__form-label{
  margin-top:1em;
  margin-bottom:.5em;
}

.checkout__form-input{
  height:2em;
  width:100%;
  border: 2px solid black;
  color:red;
  font-weight:bold;
  font-size: 1em;
  padding-left: 1em;
}

.checkout__form-textarea{
  height:4em;
  width:100%;
  border: 2px solid black;
  color:red;
  font-weight:bold;
  font-size: 1em;
  padding-left: 1em;
}

.checkout__form-submit{
  text-decoration:underline;
  background-color:#FFF;
  border: none;
  font-size:1.5em;
  text-align:right;
  cursor:pointer;
}

.checkout__form-submit:hover{
  color:grey;
}


.customize{
  display:flex;
  flex:1;
  justify-content:center;
  align-items: center;
}

.customize_choco{
  width:200px;
  height:200px;
}

.social {
  font-size: 2.5em;
}


/* Customize the label (the container) */
.checkout__form-checkbox-container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  user-select: none;
}

/* Hide the browser's default checkbox */
.checkout__form-checkbox{
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkout__form-checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
}

/* On mouse-over, add a grey background color */
/* .container:hover input ~ .checkmark {
  background-color: #ccc;
} */

/* When the checkbox is checked, add a blue background */
.checkout__form-checkbox:checked ~ .checkout__form-checkmark {
  background-color: #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkout__form-checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.checkout__form-checkbox:checked ~ .checkout__form-checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.checkout__form-checkbox:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}