<p>Hi <%= senderName %>,</p>
<p>
  We hope this email finds you well. 
  We are happy to notify you that your friend <%= recipientName %> has returned your kind gesture by "eating" the virtual Chocopie you have shared,
  thus automatically raising a further $1 for the <a href="https://kacfny.org/covid-19-community-action-fund/" style="font-weight:bold">Korean American Community Foundation COVID-19
  Community Action Fund</a>.  
</p>
<p>Thank you for participating in “Eat Chocopie Together,” a special art initiative by Korean 
  artist Mina Cheon for the Asia Society Triennial. <a href="https://eatchocopietogether.com" target="_blank">Care to share another Chocopie?</a>      
</p>
<p>
 <strong>Save The Date:</strong><br/>
  Join us on October 27, 2020, for the opening of the first edition of the <a href="http://asiasociety.org/triennial" style="font-weight:bold;">Asia Society Triennial</a>,
  <em>We Do Not Dream Alone</em> (October 27, 2020 - June 27, 2021), at the Asia Society Museum in 
  New York City to experience interdisciplinary exhibitions, 
   programs, and performances. Don’t miss Mina Cheon’s artwork installed in the Asia Society Museum in Part 2: March 16, 2021–June 27, 2021 as well as her special performative installation of the physical “Eat Chocopie Together.”
</p>
<p>
  "Eat Chocopie Together" is made possible by the generosity of the Korea Foundation, and an anonymous donor to the Korean American Community Foundation. 
</p>
<p>
  Thank you! 
</p>
<p>
  Sincerely, <br/><a href="https://www.eatchocopietogether.com" style="font-weight:bold;">The Eat Chocopie Together Team</a>
</p>