<p>Hi <%= senderName %>,</p>
<p>
  Thank you for participating in “Eat Chocopie Together,” a special art initiative by Korean 
  artist Mina Cheon for the inaugural Asia Society Triennial 
  (October 27, 2020 - June 27, 2021), a festival of art, ideas and innovation. 
</p>
<p>
  We are thrilled you are able to help promote peace, in addition to raise 
  funds for the <a href="https://kacfny.org/covid-19-community-action-fund/" style="font-weight:bold">Korean American Community Foundation COVID-19
  Action Fund</a>, to help those affected by the Coronavirus and to support the important work to address growing anti-Asian racism in our community.
</p>
<p>
  Your names have been added to our Chocopie Map:
</p>
<p>
  <a href=<%= pieURL %> style="font-weight:bold;text-decoration:none;background-color:yellow;color:black;padding:.5em;border-radius:.5em;">View Here</a>
<br/><br/>
</p>
<p>
 <strong>Save The Date:</strong><br/>
  Join us on October 27, 2020, for the opening of the first edition of the <a href="http://asiasociety.org/triennial" style="font-weight:bold;">Asia Society Triennial</a>,
  <em>We Do Not Dream Alone</em>, at the Asia Society Museum in 
  New York City to experience interdisciplinary exhibitions, 
   programs, and performances.
</p>
<p>
  Don’t miss Mina Cheon’s artwork installed in the Asia Society Museum in Part 2: March 16, 2021–June 27, 2021 as well as her special performative installation of the physical “Eat Chocopie Together.”
</p>
<p>
  "Eat Chocopie Together" is made possible by the generosity of the Korea Foundation, and an anonymous donor to the Korean American Community Foundation. 
</p>
<p>
  Thank you! 
</p>
<p>
  Sincerely, <br/><a href="https://www.eatchocopietogether.com" style="font-weight:bold;">The Eat Chocopie Together Team</a>
</p>