<p>Hi <%= senderName %>,</p>
<p>
  Thank you for participating in “Eat ChocoPie Together” - 
  a special art initiative by Korean-American contemporary 
  artist Mina Cheon for the inaugural Asia Society Triennial 
  (October 27, 2020 - June 27, 2021), a festival of art, ideas and innovation. 
</p>
<p>
  We are thrilled you are able to help promote compassion 
  and humanity towards global peace, in addition help raise 
  funds for the <a href="https://kacfny.org/covid-19-community-action-fund/" style="font-weight:bold">Korean American Community Foundation COVID-19
  Action Fund</a>, to help those affected by the Coronavirus.
</p>
<p>Your name has been acknowledged on our ChocoPie map! <a href=<%= pieURL %> style="font-weight: bold; color:darkblue;">Click here to view.</a>
</p>
<p>
 Please save the date for the opening on October 27, 2020,
  of the first edition of the <a href="http://asiasociety.org/triennial" style="font-weight:bold;">Asia Society Triennial</a>, titled
  <em>We Do Not Dream Alone</em>, at the Asia Society Museum in 
  New York City to experience a multi-venue exhibition, 
  interdisciplinary panels, forums, and performances.
</p>
<p>
  Thank you and please help share <a href="http://eatchocopietogether.com" style="font-weight:bold;">EatChocoPieTogether.com</a>
</p>