<!-- This is a static file -->
<!-- served from your routes in server.js -->

<!DOCTYPE html>
<html>
  <head>
    <title>Eat Chocopie Together - About</title>
    <%- include('../partials/head'); %>
  </head>
  <body>
    <header>
      <%- include('../partials/header'); %>
    </header>
    <section class="section">
      <div class="container">
        <h1 class="title is-1 has-text-left">Eat Chocopies Together</h1>
        <br />
        <h2 id="history-of-choco-pies">History of Chocopies</h2>
        <p>
Chocopies, a South Korean confectionary, became one of the most desirable consumer products in North Korea, ever since they were gifted by South Korean workers to their peers from the North at the jointly managed Kaesong Industrial Complex. South Korean activists even used helium balloons to launch thousands of Chocopies over the DMZ border into North Korea, some with messages of love and care as well as foreign media. It has thus become a symbol of Korean loving exchange and cooperation.
        </p>
        <p>
          For the inaugural
          <a href="http://asiasociety.org/triennial" target="_blank">Asia Society Triennial</a>
          (October 27, 2020 - June 27, 2021), a festival of art, ideas and
          innovation, Korean-American artist Mina Cheon’s signature artwork for
          Korean unification “Eat Chocopie Together,” will be installed at the
          David Geffen Hall of Lincoln Center in New York City. Hosted by the
          New York Philharmonic, this special performative installation will
          feature 10,000 Chocopies arranged in the shape of the Korean
          peninsula for the public audience to freely eat. For Cheon, the
          symbolic gesture of eating Chocopie represents “taking a bite for
          peace”, thus sharing a piece of the dream towards global peace.
        </p>
        <p>
          In addition to the physical art installation, this website presents a
          special virtual version of “Eat Chocopie Together” as part of the
          inaugural Asia Society Triennial. Responding to the socially distant
          conditions of our time and the global devastation of the COVID-19
          pandemic at a time where compassion and humanity is much needed for
          healing, this initiative hopes to allow anyone, from anywhere, to
          extend love and peace in the time of the Coronavirus by virtually
          sharing and enjoying Chocopies with friends, families, and loved
          ones. There are five different Chocopies designs, specially designed by the artist Mina Cheon to represent important aspects of this virtual exchange: LOVE, PEACE, SHARE, EAT, UNITE.
        </p>

        <h2 id="giving-back">Giving Back</h2>
        <p>
          Not only is eating a Chocopie virtually with a friend an action towards peace
          and friendship, but for each Chocopie shared between two friends, $2
          will be raised in their names to charity,
          <a
            href="https://kacfny.org/covid-19-community-action-fund/"
            target="_blank"
            >the Korean AmericanCommunity Foundation COVID-19 Action Fund</a
          >, up to a total of $5,000.
        </p>
        <p>
          In March, KACF launched their COVID-19 Community Action Fund to
          provide immediate and longer-term support to their nonprofit partners,
          organizations that are working in the frontline of this pandemic to
          provide essential services to the most vulnerable Korean Americans.
          The funds will be used to spearhead urgent relief efforts for
          individuals and families affected by COVID-19, including Korean
          language assistance in completing unemployment and small business
          applications, increased domestic violence counseling, meal delivery, a
          Korean language COVID-19 health hotline, mental health support,
          emergency cash assistance for those excluded from federal emergency
          payments, and shelter for homeless Korean Americans. With the funds,
          KACF will also support the important work to address growing
          anti-Asian racism in our community.
          <a
            href="https://kacfny.org/covid-19-community-action-fund/"
            target="_blank"
            >Learn more about the charity fund here.</a
          >
        </p>
        <h2 id="about-mina-cheon">About the Artist</h2>
        <p>
          <strong>Mina Cheon</strong> (천민정 PhD, MFA) is a global Korean new media artist, scholar, and educator who divides her time
          between Korea and the United States. Cheon has exhibited her political
          pop art known as “Polipop” internationally and draws inspiration from
          global media and popular culture to produce work that intersects
          politics and pop art in evocative ways. While she creates work that
          ranges in medium from new media, video, installation, performance, and
          public projects to traditional media of painting and sculptures, the
          content of the work is in historic alignment to appropriation art and
          global activism art.
        </p>
        <p>
          Cheon’s thematic focus includes geopolitical and contested spaces, race culture and postcolonialism, and Asia’s relationship to the Western world in global media culture and reflects the transgenerational trauma of Korea’s history, of its division and war and of Japanese colonization. Having parents originate from the North and herself part of the Korean global diaspora, Cheon’s art results from a life-time of working with a cultural comparative lens and understanding Asia through its power relations with the world. In particular, she has worked on North Korean awareness, Korean unification and reconciliation efforts, and global peace projects since 2004.
        </p>
        <p>
          As an artist, while assuming different artistic
          pseudonyms for the past twenty years such as Minaliza1000, M-1000, Jae
          Son, Cheon’s latest avatar and alter ego is a North Korean artist
          named KIM IL SOON who made her first international public appearance
          at the Pulse Art Fair NY in 2013.
        </p>
        <p>
          Cheon's states,
          <em
            >"As a Korean, the idea of having two artistic identities, South
            Korean Mina Cheon and North Korean Kim Il Soon, is an obvious
            reflection on the country’s state of being divided. It makes all the
            sense in the world that if a country is split so should the artist
            in practice."</em
          >
        </p>
        <p>
          While Cheon’s “Video Art History Lessons by Professor Kim” has been
          sent into North Korea since 2017 by USB drives and SD cards, the
          chocopie installation promotes her global artistic activism to bring
          awareness about the state of Koreas that has been working towards
          peace. “Eat Chocopie Together” became a national sensation when it was
          featured at the 2018 Busan Biennale in Korea; even the South
          Korean President Moon Jae-in and First Lady Kim Jung-sook visited to eat Chocopie together amidst Korea’s media buzz
          and slogan for “A New Future” of Korea.
          <a href="http://www.minacheon.com/" target="_blank"
            >Learn more about Mina Cheon at her website.</a
          >
        </p>
        <p>
          This virtual "Eat Chocopie Together" experience is brought to you by Mina Cheon and Ken Tan. Website is developed by Peter Jablonski.
        </p>
      </div>
    </section>
    <footer class="footer">
      <%- include('../partials/footer'); %>
    </footer>
  </body>
</html>
