<!-- This is a static file -->
<!-- served from your routes in server.js -->

<!DOCTYPE html>
<html>
  <head>
    <%- include('../partials/head'); %>
    <title>Eat Chocopie Together - Coming Soon</title>
  </head>
  <body>
    <section class="section">
      <div class="container">
        <div class="columns is-vcentered">
          <div class="column has-text-centered" style="color:white;">
             <h1 class="title is-1">
            Coming soon...
            </h1>
            <img src='https://cdn.glitch.com/1fa742a9-ec9d-49fb-8d8b-1aaa0efe3e2c%2FEat-Chocopie-Together-Mina-Cheon-UNITE.png?v=1593119006333'>
                             
          </div>
        </div>
      </div>
    </section>

  </body>
</html>