<!-- This is a static file -->
<!-- served from your routes in server.js -->

<!DOCTYPE html>
<html>
  <head>
    <%- include('../partials/head'); %>
    <title>Eat Chocopie Together - Coming Soon</title>
  </head>
  <body>
    <section class="section">
      <div class="container">
        <div class="columns is-vcentered">
                    
          <h1>
            Coming soon...
          </h1>
                             
        </div>
      </div>
    </section>

  </body>
</html>