<!-- This is a static file -->
<!-- served from your routes in server.js -->

<!DOCTYPE html>
<html>
  <head>
    <%- include('../partials/head'); %>
    <title>Eat Chocopie Together - How it works</title>
  </head>
  <body>
    <header>
      <%- include('../partials/header'); %>
    </header>
    <section class="section">
      <div class="container">
        <h1 class="title is-1 has-text-left">How it works</h1>
        <p>
          As part of the Asia Society Triennial, the virtual “Eat Chocopie
          Together” art initiative seeks to further extend love, compassion, and
          humanity to promote peace on earth. Conceived in response to the
          COVID-19 pandemic, the project offers virtual Chocopies to be shared
          digitally by anyone, to send to a friend as a warm greeting in this time
          of social distancing, symbolizing a gesture towards friendship.
          Furthermore, each virtual share automatically raises funds for
          <a
            href="https://kacfny.org/covid-19-community-action-fund/"
            target="_blank"
            >The Korean American Community Foundation’s COVID-19 Community Action Fund</a
          >, a charity set up to aid the Korean American community affected by
          the pandemic and to support the important work to address growing anti-Asian racism in our community.
        </p>
        <h2>
          Here’s how it Works Step-by-Step:
        </h2>
        <p>
        <ul>
          <li>
            <strong>Step 1: Open The Zoomed Map</strong>
            <img class="howto-img" src="https://cdn.glitch.com/1fa742a9-ec9d-49fb-8d8b-1aaa0efe3e2c%2FChocopie-How-To-Step-1.jpg?v=1594673000811">
            The homepage displays a map of the Korean peninsula, <strong>click anywhere on the map to open a zoomed map.</strong>            
          </li>
          <li>
            <strong>Step 2: Select A Chocopie to Start</strong>
            <img class="howto-img" src="https://cdn.glitch.com/1fa742a9-ec9d-49fb-8d8b-1aaa0efe3e2c%2FChocopie-How-To-Step-2.jpg?v=1594673000946">
            Drag around to explore the zoomed-in map! There are five unique Chocopie designs available to share: LOVE, PEACE, SHARE, EAT, UNITE.
            <strong>Click on any Chocopie to activate the sharing process.</strong>

          </li>
          <li> 
            <strong>Step 3: Enter Your Information</strong>
            <img class="howto-img" src="https://cdn.glitch.com/1fa742a9-ec9d-49fb-8d8b-1aaa0efe3e2c%2FChocopie-How-To-Step-3.jpg?v=1594673001038">
            Enter the Sender’s name, and email address, followed by the
            Recipient’s name and email address you would be sending the Chocopie to. You may add a personal message.
            <strong>Click Send when ready.</strong>
          </li>
          <li>
            <strong>Step 4: Check Email</strong>
            <img class="howto-img" src="https://cdn.glitch.com/1fa742a9-ec9d-49fb-8d8b-1aaa0efe3e2c%2FChocopie-How-To-Step-4.jpg?v=1594673001010">
            Congrats! The Chocopie is virtually shared! Your recipient friend will receive the Chocopie in an email sent to the account you have specified. <strong>Your friend has the option in the mail to click to “eat” the virtual Chocopie,</strong
            > thus closing the loop in a wonderful reciprocal gesture. Both Sender’s and Recipient’s names are acknowledged on the map at the location of your shared Chocopie.
      <br/><br/>
            Because Chocopies are best enjoyed together, please check in with your recipient friend if they have not "eaten" your Chocopie after some time. All shared Chocopies will be automatically "eaten" after 7 days from the date of sharing.   
            <br/><br/>
            Note: It is possible that some of our emails may end up in your Junk mail folder. Do check your Spam and Junk email folders if you do not receive within minutes of sending. Please add our email to your address book.  
          </li>
        </ul>
        </p>
        <h2>Charity to Korean Americans Community Foundation COVID-19 Community Action Fund
        </h2>         
      
        <p>
          By participating in “Eat Chocopie Together,” you
          are helping to raise funds towards the Korean American Community
          Foundation’s COVID-19 Community Action Fund supports non-profit partner organizations working at the front line of the pandemic providing essential services to the most vulnerable Korean Americans. With the funds, KACF will also support the important work to address growing anti-Asian racism in our community.
        </p>
      <p>
        <table id="howto-table">
          <tr>
            <td colspan="3"><h2>One complete share raises a total of US$2, when:</h2></td>
          </t>
      <tr>
            <td><strong>One Chocopie is shared with one friend = US$1 raised in sender’s
              name</strong></td>
        <td><h2 style="font-size:larger;">
          +
          </h2></td>
            <td><strong>The shared Chocopie is ‘eaten’ by a recipient = US$1 raised in
              recipient’s name</strong></td>
          </tr>
      </table>
             </p> 
          
        <p>
          The project
          comes to an end when the target of all 5,000 people has shared and eaten Chocopies together and
          the target of US$5,000 is raised, or by June 27, 2021 where
          the amount raised by that date will be donated to charity. 
          An anonymous donor has already made a generous pledge of the total amount to support the ambition of reaching the goal.  
        </p>
        <p>
          <strong>
            Note: Users do not, at any time, contribute any money of their own.
            The participation of sharing and eating virtual Chocopies together raises
            the donation to the charity fund automatically.
          </strong>
        </p>
      </div>
    </section>
    <footer class="footer">
        <%- include('../partials/footer'); %>
    </footer>
  </body>
</html>
