<!-- This is a static file -->
<!-- served from your routes in server.js -->

<!DOCTYPE html>
<html>
  <head>
    <%- include('../partials/head'); %>
    <title>Eat Chocopie Together</title>
    <link
      rel="stylesheet"
      href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
      integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
      crossorigin=""
    />
  </head>
  <body>
    <header>
      <%- include('../partials/header'); %>
    </header>
    <section class="section">
      <div class="container">
        <div class="columns is-vcentered">
          
          <!-- FYI I swapped the columns around --> 
          
          <div class="column has-text-centered" style="color:white;">
            <h4 style="font-weight:bold;color:yellow;font-size: 1.5em;text-shadow: 1px 1px 1px darkblue, 1px 1px 3px darkblue;">Eat Chocopie Together for Global Peace</h4>
            <br/>
            Click the map to share a virtual Chocopie with a friend. Your participation raises funds for the <a href="/about#giving-back">Korean
            American Community Foundation COVID-19 Action Fund</a> to support those affected by the Coronavirus, and to stand against anti-Asian racism. <a href="/howitworks">Learn more</a>
          <br/><br/>
            Part of the <a href="http://asiasocietytriennial.org" target="_blank">Asia Society Triennial: <em>We Do Not Dream Alone</em></a>
          </div>
          
          <div class="column is-half">
            <div id="main-map">
              <svg height="100%" width="100%" viewBox="0 0 75 100">
                <g></g>
              </svg>
              <span class="icon main-map__loading">
                <i class="fas fa-spinner fa-pulse"></i>
              </span>
            </div>
          </div>
          
          <div class="column has-text-centered">
            <h1 class="title is-1 stats">
              <span id="piesSent"></span>/<span id="totalPies"></span>
            </h1>
            <h2 class="title is-3">People Eating Chocopies</h2>
            <h1 class="title is-1 stats">
              <span id="moneyRaised"></span>
            </h1>
            <h2 class="title is-3">
              of $5,000 Raised for <a href="https://kacfny.org/covid-19-community-action-fund/" target="_blank">Charity</a>
            </h2>
          </div>
                    
          
        </div>
      </div>
    </section>
    
    <footer class="footer">
      <%- include('../partials/footer'); %>
    </footer>

    <div class="modal" id="viewPies">
      <div class="modal-background"></div>
      <div class="modal-content">
        <h2 class="has-text-centered">Drag map around to discover more. Click on any Chocopie to begin sharing.</h2>
        <div id="zoom-map"></div>
      </div>
      <button class="modal-close is-large" aria-label="close"></button>
    </div>

    <div class="modal" id="sendPie">
      <div class="modal-background"></div>
      <div class="modal-content">
        <button class="modal-close is-large" aria-label="close"></button>
        <h2 class="has-text-centered">Great Choice! Complete the form to share your Chocopie.</h2>
        <br />
        <div class="columns is-vcentered">
          <div class="column has-text-centered">
            <img class="share_choco" />
            <p style="margin:1em 2.5em;">
              This virtual Chocopie will be sent to the friend's email address you have specified, and $1 will be automatically raised for <a href="/about#giving-back" target="_blank">charity</a>. 
              To promote unity and compassion, an additional $1 will be automatically raised when your friend 'eats' your Chocopie by clicking a link in the email.  
              No money is required, just your kind gestures.<br/><a href="/howitworks" target="_blank">Click here to learn how it works</a>.
            </p>
          </div>
          <div class="column">
            <!--             <form class="checkout__form">
              <label class="checkout__form-label" for="name" required>
                Your Name
              </label>
              <input
                class="checkout__form-input"
                type="text"
                name="name"
                required
              />
              <label class="checkout__form-label" for="email">
                Your Email
              </label>
              <input class="checkout__form-input" type="email" name="email" />
              <label class="checkout__form-label" for="name" required>
                Recipient's Name
              </label>
              <input
                class="checkout__form-input"
                type="text"
                name="name"
                required
              />
              <label class="checkout__form-label" for="email">
                Recipient's Email
              </label>
              <input class="checkout__form-input" type="email" name="email" />
              <label class="checkout__form-label" for="message">
                Message
              </label>
              <textarea
                class="checkout__form-textarea"
                type="textarea"
                name="message"
              ></textarea>

              <div class="checkbox">
                <input type="checkbox" id="checkbox_1" checked />
                <label class="checkout__form-label" for="checkbox_1"
                  >Yes I would like to recieve asia society newsletters</label
                >
              </div>
              <input
                class="checkout__form-submit"
                type="submit"
                value="Send >"
              />
            </form> -->
            <form>
              <div class="field">
                <label class="label">Your Name</label>
                <div class="control has-icons-left has-icons-right">
                  <input
                    class="input"
                    type="text"
                    placeholder="John G"
                    maxlength="18"
                    required
                  />
                  <span class="icon is-small is-left">
                    <i class="fas fa-user"></i>
                  </span>
                </div>
              </div>

              <div class="field sender-email">
                <label class="label">Your Email</label>
                <div class="control has-icons-left has-icons-right">
                  <input
                    class="input"
                    type="email"
                    placeholder="email@email.com"
                    required
                  />
                  <span class="icon is-small is-left">
                    <i class="fas fa-envelope"></i>
                  </span>
                  <p class="help is-danger"></p>
                </div>
              </div>

              <div class="field">
                <label class="label">Your Friend's Name</label>
                <div class="control has-icons-left has-icons-right">
                  <input
                    class="input"
                    type="text"
                    placeholder="Recipient's Name"
                    maxlength="18"
                    required
                  />
                  <span class="icon is-small is-left">
                    <i class="fas fa-user"></i>
                  </span>
                </div>
              </div>

              <div class="field">
                <label class="label">Your Friend's Email</label>
                <div class="control has-icons-left has-icons-right">
                  <input
                    class="input"
                    type="email"
                    placeholder="email@email.com"
                    required
                  />
                  <span class="icon is-small is-left">
                    <i class="fas fa-envelope"></i>
                  </span>
                </div>
              </div>

              <div class="field">
                <label class="label">Personal Message</label>
                <div class="control">
                  <textarea class="textarea" rows="2"></textarea>
                </div>
              </div>

              <div class="field">
                <div class="control">
                  <label class="checkbox">
                    <input type="checkbox" checked />
                    Yes, I would like to join the mailing list.
                  </label>
                </div>
              </div>

              <div class="field is-grouped">
                <div class="control">
                  <input style="font-size:larger;font-weight:bold;"class="button is-link" type="submit" value="SEND" />
                </div>
              </div>
            </form>
            <br/>
          </div>
        </div>
      </div>
    </div>

    <div class="modal" id="confirmation">
      <div class="modal-background"></div>
      <div class="modal-content">
        <button class="modal-close is-large" aria-label="close"></button>        
        <h2 class="has-text-centered">Thank you!</h2>
        <br />
        <div class="columns is-vcentered">
            <div class="column has-text-centered">
              <img class="send_choco" src="https://cdn.glitch.com/1fa742a9-ec9d-49fb-8d8b-1aaa0efe3e2c%2FChocopie-Sharing-Image.jpg?v=1596290821148" />
            </div>
          <div class="column">
            <p>
              Your Chocopie has been shared and $1 has been automatically raised in your name towards the <a href="/about#giving-back">Korean American Community Foundation COVID-19 Action Fund</a>. 
          Feel free to <a href="/">share another Chocopie</a> or share this image on your social media to spread this positive initiative. 
            <br/><br/>
  Don’t miss Mina Cheon’s artwork installed in the Asia Society Museum in Part 2: March 16, 2021 – June 27, 2021 as well as her special installation of the physical “Eat Chocopie Together.” 
            <br/><br/>
          <small>Don't see the Chocopie email? Please check in your spam folder, you might just find it there.</small>
        </p>
        </div>
      </div>
    </div>   
      
    <!-- Make sure you put this AFTER Leaflet's CSS -->
    <script src="https://d3js.org/d3.v5.min.js"></script>
    <script
      src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
      integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
      crossorigin=""
    ></script>
    <script
      src="https://kit.fontawesome.com/e5930a8723.js"
      crossorigin="anonymous"
    ></script>
    <script src="https://cdn.jsdelivr.net/npm/leaflet-minimap@3.6.1/dist/Control.MiniMap.min.js"></script>
    <script src="/index.js"></script>
  </body>
</html>