<!-- This is a static file -->
<!-- served from your routes in server.js -->

<!DOCTYPE html>
<html>
  <head>
    <%- include('../partials/head'); %>
    <title>Eat Chocopie Together - About</title>
    <script>
      (async function(d){
        let pieData = await fetchPies();
        let sent = pieData.sent;
        let eaten = pieData.eaten;
        let total = pieData.total;
        let pies = pieData.pies;
        const piesTable = d.querySelector(".pies__list")
        
        
        pies = sortPies(pies, "sentAt")
        drawPies(pies)
        
        
        function sortPies(pies, value){
          return pies.sort(function(a,b){
            return a[value] - b[value] 
          })
        }
        
        function drawPies(pies){
          pies.forEach(function(pie){
          const pieRow = d.createElement("tr")
          const pieId = d.createElement("td")
          const pieSentAt = d.createElement("td")
          const pieEatenAt = d.createElement("td")

          pieId.innerHTML = pie.id
          if(pie.sentAt){
             pieSentAt.innerHTML = new Date(pie.sentAt)
          }
          if(pie.eatenAt){
             pieEatenAt.innerHTML = new Date(pie.eatenAt)
          }
          
          pieRow.append(pieId)
          pieRow.append(pieSentAt)
          pieRow.append(pieEatenAt)
          
          
          piesTable.append(pieRow)
        })
        }
        
        
        async function fetchPies() {
          const req = await fetch("/pies");
          const resp = await req.json();
          return resp;
        }
        
      })(document)
    </script>
  </head>
  <body>
    <header>
      <%- include('../partials/header'); %>
    </header>
    <section class="section">
      <table class="pies__list table">
        <thead>
          <th>Id</th>
          <th>Sent At</th>
          <th>Eaten At</th>
        </thead>
        
      </table>
    </section>
    <footer class="footer">
      <%- include('../partials/footer'); %>
    </footer>
  </body>
</html>
