<!-- This is a static file -->
<!-- served from your routes in server.js -->

<!DOCTYPE html>
<html>
  <head>
    <%- include('../partials/head'); %>
    <title>Eat Chocopie Together - About</title>
  </head>
  <body>
    <header>
      <%- include('../partials/header'); %>
    </header>
    <section class="section">
      <a href="/logout">Log Out</a>
      <span class="sent"></span>
      <span class="eaten"></span>
      <table class="pies__list table">
        <thead>
          <th>id</th>
          <th>Sender</th>
          <th>Recipient</th>
          <th>Sent At</th>
          <th>Eaten At</th>
        </thead>
      </table>
    </section>
    <footer class="footer">
      <%- include('../partials/footer'); %>
    </footer>
    <script src="/manage.js"></script>
  </body>
</html>
