<!-- This is a static file -->
<!-- served from your routes in server.js -->

<!DOCTYPE html>
<html>
  <head>
    <%- include('../partials/head'); %>
    <title>Eat Chocopie Together - About</title>
    <script>
      (async function(d){
        let pieData = await fetchPies();
        let sent = pieData.sent;
        let eaten = pieData.eaten;
        let total = pieData.total;
        let pies = pieData.pies;
        const piesDiv = d.querySelector(".pies__list")
        
        pies.forEach(function(pie){
          const pieDiv = d.createElement("div")
          pieDiv.innerHTML = pie.id
          piesDiv.append(pieDiv)
        })
        
        async function fetchPies() {
          const req = await fetch("/pies");
          const resp = await req.json();
          return resp;
        }
        
      })(document)
    </script>
  </head>
  <body>
    <header>
      <%- include('../partials/header'); %>
    </header>
    <section class="section">
      <div class="pies__list">
        
      </div>
    </section>
    <footer class="footer">
      <%- include('../partials/footer'); %>
    </footer>
  </body>
</html>
