<!-- This is a static file -->
<!-- served from your routes in server.js -->

<!DOCTYPE html>
<html>
  <head>
    <%- include('../partials/head'); %>
    <title>Eat Chocopie Together - About</title>
    <script>
      (function(d){
        const pies = d.querySelector(".pies__list")
        
      })(document)
    </script>
  </head>
  <body>
    <header>
      <%- include('../partials/header'); %>
    </header>
    <section class="section">
      <div class="pies__list">
        
      </div>
    </section>
    <footer class="footer">
      <%- include('../partials/footer'); %>
    </footer>
  </body>
</html>
