<!-- This is a static file -->
<!-- served from your routes in server.js -->

<!DOCTYPE html>
<html>
  <head>
    <title>Eat Chocopie Together - Shop</title>
    <%- include('../partials/head'); %>
  </head>
  <body>
    <header>
      <%- include('../partials/header'); %>
    </header>
    <section class="section">
      <div class="container">
        <h1 class="title is-1 has-text-left">Limited Edition Eat Chocopie Together Prints</h1>
        <br />
        
        
        <p>
          Edition of 100. <br/>
          Each print is signed and numbered, with Artist Select Golden Frames <br/>
          Dimensions: Without frame: 13 inches (H) x 19 inches (W) <br/>
        </p>
        <p>
          Individual Chocopie Print = $200.00 (+ $60 for Shipping)<br/>
          Set of 5 Chocopie Print Series = $900.00 (+ $300 for bulk shipping)
        </p>
        <p>
          <a href="https://www.etsy.com/listing/831086737/eat-chocopie-together" target="_blank">CLICK HERE TO PURCHASE ON ETSY</a>
        </p>
        
      </div>
    </section>
    <footer class="footer">
      <%- include('../partials/footer'); %>
    </footer>
  </body>
</html>
