<!-- This is a static file -->
<!-- served from your routes in server.js -->

<!DOCTYPE html>
<html>
  <head>
    <title>Eat Chocopie Together - Shop</title>
    <%- include('../partials/head'); %>
  </head>
  <body>
    <header>
      <%- include('../partials/header'); %>
    </header>
    <section class="section">
      <div class="container">
        <h1 class="title is-1 has-text-left">Limited Edition Eat Chocopie Together Prints</h1>
        <br />
        <p>
          On the occasion of the inaugural Asia Society Triennial 2020-2021 and the launching of
the virtual “Eat Chocopie Together” collaboration with Asia Society, artist Mina Cheon
has created a limited edition print series of the five Chocopie designs that represent
important aspects of the virtual exchange: LOVE, PEACE, SHARE, EAT, UNITE.
        </p>
        <p>
Inspired by the spirit of the project’s charity contribution to the <a href="https://kacfny.org/covid-19-community-action-fund/" target="_blank">Korean American
          Community Foundation COVID-19 Action Fund</a> that supports those affected by the
Coronavirus and to stand against anti-Asian racism, artist Mina Cheon is donating 20%
of all sales from the print series to this organization as well as 10% of all other sales
          from her online <a href="https://www.etsy.com/shop/PolipopShop" target="_blank">Polipop Shop</a> throughout the Triennial period.
        </p>
        
        <p>
          Edition of 100. Each print is signed and numbered, with artist selected golden frames.<br/>
          Dimensions: <br/>
          Without Frame: 13 inches (H) x 19 inches (W)<br/>
          With Frame: 16 inches (H) x 20 inches (W)
          <br/>
        </p>
        <p>
          Individual Chocopie Print = $200.00 (+ $60 for Shipping)<br/>
          Set of 5 Chocopie Print Series = $900.00 (+ $300 for bulk shipping)
        </p>
        <p>
          <a href="https://www.etsy.com/listing/831086737/eat-chocopie-together" target="_blank">CLICK HERE TO PURCHASE ON ETSY</a>
        </p>
        
      </div>
    </section>
    <footer class="footer">
      <%- include('../partials/footer'); %>
    </footer>
  </body>
</html>
