<!-- This is a static file -->
<!-- served from your routes in server.js -->

<!DOCTYPE html>
<html>
  <head>
    <title>Eat Chocopie Together - Shop</title>
    <%- include('../partials/head'); %>
  </head>
  <body>
    <header>
      <%- include('../partials/header'); %>
    </header>
    <section class="section">
      <div class="container">
        <h1 class="title is-1 has-text-left">Limited Edition Artist Prints</h1>
        <br />
        
        
        <p>
          Each print is signed and numbered.  
          Set of 5 Chocopie Print Series = $900.00 (Edition 100)
With Artist Select Golden Frames for the Series = $300 Extra (Plus Extra for Bulk Shipping)

Individual Chocopie Print = $200.00 (Edition 100)
With Artist Select Golden Frame = $60 Extra (Plus Extra for Shipping)
        </p>
        
      </div>
    </section>
    <footer class="footer">
      <%- include('../partials/footer'); %>
    </footer>
  </body>
</html>
